/* color */
$main-color: #90c31f; // 메인 색상
$color-blue: #0077b3;
$text-color: #777;
$text-color-gray: #999;
$text-color-dark-black: #333;
$text-color-blue: #0077b3;
$border-color: #ccc;
$border-color-blue: #3bf;
$bg-color-light-gray: #f5f5f5;
$bg-color-white: #fff;

/* size */
$layout-size-small: 40.625vw; //520px;
$layout-size-medium: 768px;
$layout-size-large: 1280px;

$font-size: 1rem;
$font-size-medium: 2.4rem;
$font-size-large: 3.2rem;

/* space */
$space: 20px;
$space-x2: 40px;
$space-x3: 60px;
$space-x4: 80px;
